In [171]:
import pandas as pd

# Load the Excel with actual data headers (assuming header is on row 2)
df1 = pd.read_excel("novolex_validation_data.xlsx", header=[0,1])
df2 = pd.read_excel("rwc_validation_data.xlsx", header=[0,1])


# Step 2: Combine column structure — preserve df1 order, then add missing columns from df2
df1_cols = list(df1.columns)
df2_cols = list(df2.columns)

# Combine while preserving df1's order
combined_cols = df1_cols.copy()

# Add any missing columns from df2 in-place — insert after same root if possible
for col in df2_cols:
    if col not in combined_cols:
        # Try to insert after last column with same level_0
        siblings = [c for c in combined_cols if c[0] == col[0]]
        if siblings:
            insert_pos = combined_cols.index(siblings[-1]) + 1
        else:
            insert_pos = len(combined_cols)
        combined_cols.insert(insert_pos, col)

# Step 3: Concatenate and reorder
merged_df = pd.concat([df1, df2], ignore_index=True, sort=False)
merged_df = merged_df[combined_cols]  # Reorder by combined structure

In [172]:
merged_df.columns

MultiIndex([('Unnamed: 0_level_0',                  'Remarks/Key notes'),
            (    'Billing Period',                      'Billing Date '),
            (    'Billing Period',                              'Month'),
            (    'Billing Period',                               'From'),
            (    'Billing Period',                                 'To'),
            (    'Billing Period',                         'No of Days'),
            (               'kWh',                          'Day \nkWh'),
            (               'kWh',                         'Night\nkWh'),
            (               'kWh',                           'Off-Peak'),
            (               'kWh',                     'Super-Off-Peak'),
            (               'kWh',                           'Only kWh'),
            (               'kWh',                          'Total kWh'),
            (               'kWh',                       ' kWh per day'),
            (               'kWh',                              'kWh %'),
            (               'kWh',                            'On-Peak'),
            (               'kWh',                           'Mid-Peak'),
            (            'Demand',               'DUOS Capacity Charge'),
            (            'Demand',             'Excess Capacity Charge'),
            (            'Demand',                   'Mid-Peak\nDemand'),
            (            'Demand',                     'Max TOU Demand'),
            (            'Demand',                      'NC/Max Demand'),
            (            'Demand',                    'On-Peak\nDemand'),
            (             'Taxes',                             'VAT\n$'),
            (             'Taxes',                   'Franchise tax\n$'),
            (             'Taxes',                 'Franchise tax\n$.1'),
            (             'Taxes',                       'Sales tax\n%'),
            (             'Taxes',                   'Franchise tax\n%'),
            (             'Taxes',                 'Franchise tax\n%.1'),
            (             'Taxes',                       'Total tax\n%'),
            (             'Taxes',            'City of Cullman Tax \n$'),
            (             'Taxes',             'Alabama State Taxes\n$'),
            (             'Taxes',           'Alabama State Taxes\n$.1'),
            (             'Taxes',          'City of Cullman Tax \n$.1'),
            (          '$ Amount',       'Generation/Retail\n $ amount'),
            (          '$ Amount',       'Total\n $ amount\n(With VAT)'),
            (          '$ Amount',      'Total $ amount\n(Without VAT)'),
            (          '$ Amount',                     'Total $ amount'),
            (          '$ Amount',      'Generation/Retail rate\n$/kWh'),
            (          '$ Amount',    'Blended rate\n$/kWh\n(With VAT)'),
            (          '$ Amount', 'Blended rate\n$/kWh\n(Without VAT)'),
            (          '$ Amount',            'Distribution\n $ amount'),
            (          '$ Amount',                'Blended rate\n$/kWh')],
           )

In [173]:
merged_df[('Billing Period','Billing Date ')]= pd.to_datetime(merged_df[('Billing Period','Billing Date ')], format='%d/%m/%Y')
merged_df[('Billing Period','Billing Date ')] = merged_df[('Billing Period','Billing Date ')].dt.strftime('%m/%d/%y')
#---------------------------------------
merged_df[('Billing Period','Month')] = merged_df['Billing Period','Month'].dt.strftime('%b-%y')

#------------------------------------------------------------------
merged_df[('Billing Period','From')]= pd.to_datetime(merged_df[('Billing Period','From')], format='%d/%m/%Y')
merged_df[('Billing Period','From')] = merged_df[('Billing Period','From')].dt.strftime('%m/%d/%y')
#------------------------------------------------------------------
merged_df[('Billing Period','To')]= pd.to_datetime(merged_df[('Billing Period','To')], format='%d/%m/%Y')
merged_df[('Billing Period','To')] = merged_df[('Billing Period','To')].dt.strftime('%m/%d/%y')

In [174]:
# Keep only rows where 'kWh %' under 'kWh' is numeric
# df_cleaned = merged_df[pd.to_numeric(merged_df[('kWh', 'kWh %')], errors='coerce').notna()]
merged_df[('kWh', 'kWh %')] = pd.to_numeric(
    merged_df[('kWh', 'kWh %')], errors='coerce'
)
df_cleaned = merged_df.copy()

In [175]:
df_cleaned[('kWh', 'kWh %')]  = (df_cleaned[('kWh', 'kWh %')] * 100).round(0)
df_cleaned[('Taxes','Alabama State Taxes\n$.1')]  = (df_cleaned[('Taxes','Alabama State Taxes\n$.1')] * 100).round(2)
df_cleaned[('Taxes','City of Cullman Tax \n$.1')] = (df_cleaned[('Taxes','City of Cullman Tax \n$.1')] * 100).round(2)
df_cleaned[('Taxes','Total tax\n%')] = (df_cleaned[('Taxes','Total tax\n%')] * 100).round(2)
df_cleaned[('$ Amount', 'Blended rate\n$/kWh')] = df_cleaned[('$ Amount', 'Blended rate\n$/kWh')].round(3)
df_cleaned[('$ Amount','Blended rate\n$/kWh\n(With VAT)')] = df_cleaned[('$ Amount','Blended rate\n$/kWh\n(With VAT)')].round(2)
df_cleaned[('$ Amount', 'Blended rate\n$/kWh\n(Without VAT)')] = df_cleaned[('$ Amount', 'Blended rate\n$/kWh\n(Without VAT)')].round(2)

In [176]:
df_cleaned

   Unnamed: 0_level_0 Billing Period                                         \
    Remarks/Key notes  Billing Date    Month      From        To No of Days
0                 NaN       03/06/24  Mar-24  02/01/24  02/29/24         28
1                 NaN       04/06/24  Apr-24  03/01/24  03/31/24         30
2                 NaN       05/14/24  May-24  04/01/24  04/30/24         29
3                 NaN       06/13/24  Jun-24  05/01/24  05/31/24         30
4                 NaN       07/06/24  Jul-24  06/01/24  06/30/24         29
5                 NaN       08/06/24  Aug-24  07/01/24  07/31/24         30
6                 NaN       09/08/24  Sep-24  08/01/24  08/31/24         30
7                 NaN       10/06/24  Oct-24  09/01/24  09/30/24         29
8                 NaN       11/12/24  Nov-24  10/01/24  10/31/24         30
9                 NaN       12/06/24  Dec-24  11/01/24  11/30/24         29
10                NaN       01/06/25  Jan-25  12/01/24  12/31/24         30
11                NaN       02/08/25  Feb-25  01/01/25  01/31/25         30
12                NaN       09/30/23  Sep-23  08/30/23  09/30/23         31
13                NaN       10/30/23  Oct-23  09/30/23  10/30/23         30
14                NaN       11/30/23  Nov-23  10/30/23  11/30/23         31
15                NaN       12/30/23  Dec-23  11/30/23  12/30/23         30
16                NaN       01/30/24  Jan-24  12/30/23  01/30/24         31
17                NaN       02/29/24  Feb-24  01/30/24  02/29/24         30
18                NaN       03/30/24  Mar-24  02/29/24  03/30/24         30
19                NaN       04/30/24  Apr-24  03/30/24  04/30/24         31
20                NaN       05/30/24  May-24  04/30/24  05/30/24         30
21                NaN       06/30/24  Jun-24  05/30/24  06/30/24         31
22                NaN       07/30/24  Jul-24  06/30/24  07/30/24         30
23                NaN       08/30/24  Aug-24  07/30/24  08/30/24         31

         kWh                                     ...  \
   Day \nkWh Night\nkWh Off-Peak Super-Off-Peak  ...
0   242413.4   72594.89      NaN            NaN  ...
1   245223.8   75892.39      NaN            NaN  ...
2   272376.2   83089.70      NaN            NaN  ...
3   296960.7   93978.10      NaN            NaN  ...
4   311678.0   98229.20      NaN            NaN  ...
5   365071.2  113220.50      NaN            NaN  ...
6   306021.5   94871.00      NaN            NaN  ...
7   292707.3   87842.50      NaN            NaN  ...
8   270283.8   76057.39      NaN            NaN  ...
9   244718.9   68130.50      NaN            NaN  ...
10  211282.8   65745.50      NaN            NaN  ...
11  245514.0   72917.50      NaN            NaN  ...
12       NaN        NaN      NaN            NaN  ...
13       NaN        NaN      NaN            NaN  ...
14       NaN        NaN      NaN            NaN  ...
15       NaN        NaN      NaN            NaN  ...
16       NaN        NaN      NaN            NaN  ...
17       NaN        NaN      NaN            NaN  ...
18       NaN        NaN      NaN            NaN  ...
19       NaN        NaN      NaN            NaN  ...
20       NaN        NaN      NaN            NaN  ...
21       NaN        NaN      NaN            NaN  ...
22       NaN        NaN      NaN            NaN  ...
23       NaN        NaN      NaN            NaN  ...

                       Taxes                     $ Amount  \
   City of Cullman Tax \n$.1 Generation/Retail\n $ amount
0                        NaN                          NaN
1                        NaN                          NaN
2                        NaN                          NaN
3                        NaN                          NaN
4                        NaN                          NaN
5                        NaN                          NaN
6                        NaN                          NaN
7                        NaN                          NaN
8                        NaN                          NaN
9                        NaN                          NaN
10                       NaN                          NaN
11                       NaN                          NaN
12                      2.67                          NaN
13                      2.86                          NaN
14                      2.86                          NaN
15                      2.70                          NaN
16                      2.85                          NaN
17                      2.86                          NaN
18                      2.86                          NaN
19                      2.86                          NaN
20                      2.86                          NaN
21                      2.86                          NaN
22                      2.87                          NaN
23                      2.87                          NaN

                                                                              \
   Total\n $ amount\n(With VAT) Total $ amount\n(Without VAT) Total $ amount
0                      69080.24                      57575.87            NaN
1                      70568.17                      58815.81            NaN
2                      73901.95                      61584.95            NaN
3                      81385.67                      67830.39            NaN
4                      85087.90                      70906.58            NaN
5                      98361.69                      81977.08            NaN
6                      82795.98                      69005.65            NaN
7                      80306.98                      66931.48            NaN
8                      82986.14                      69173.11            NaN
9                      75295.09                      62763.92            NaN
10                     67149.60                      55967.01            NaN
11                     75972.71                      63310.59            NaN
12                          NaN                           NaN       168739.0
13                          NaN                           NaN       140799.0
14                          NaN                           NaN       134396.0
15                          NaN                           NaN       127388.0
16                          NaN                           NaN       118071.0
17                          NaN                           NaN       139307.0
18                          NaN                           NaN       152081.0
19                          NaN                           NaN       160431.0
20                          NaN                           NaN       176367.0
21                          NaN                           NaN       202682.0
22                          NaN                           NaN       217901.0
23                          NaN                           NaN       237475.0

                                                                  \
   Generation/Retail rate\n$/kWh Blended rate\n$/kWh\n(With VAT)
0                              0                            0.22
1                              0                            0.22
2                              0                            0.21
3                              0                            0.21
4                              0                            0.21
5                              0                            0.21
6                              0                            0.21
7                              0                            0.21
8                              0                            0.24
9                              0                            0.24
10                             0                            0.24
11                             0                            0.24
12                             0                             NaN
13                             0                             NaN
14                             0                             NaN
15                             0                             NaN
16                             0                             NaN
17                             0                             NaN
18                             0                             NaN
19                             0                             NaN
20                             0                             NaN
21                             0                             NaN
22                             0                             NaN
23                             0                             NaN

                                                               \
   Blended rate\n$/kWh\n(Without VAT) Distribution\n $ amount
0                                0.18                     NaN
1                                0.18                     NaN
2                                0.17                     NaN
3                                0.17                     NaN
4                                0.17                     NaN
5                                0.17                     NaN
6                                0.17                     NaN
7                                0.18                     NaN
8                                0.20                     NaN
9                                0.20                     NaN
10                               0.20                     NaN
11                               0.20                     NaN
12                                NaN                168739.0
13                                NaN                140799.0
14                                NaN                134396.0
15                                NaN                127388.0
16                                NaN                118071.0
17                                NaN                139307.0
18                                NaN                152081.0
19                                NaN                160431.0
20                                NaN                176367.0
21                                NaN                202682.0
22                                NaN                217901.0
23                                NaN                237475.0


   Blended rate\n$/kWh
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
5                  NaN
6                  NaN
7                  NaN
8                  NaN
9                  NaN
10                 NaN
11                 NaN
12               0.100
13               0.093
14               0.093
15               0.090
16               0.087
17               0.088
18               0.099
19               0.094
20               0.094
21               0.101
22               0.105
23               0.105

[24 rows x 42 columns]

In [177]:
df_cleaned.to_excel("combined_validation_data.xlsx")

In [ ]:
Before processing : Billing Dates String:
['04/30/2024', '01/30/2024', '02/29/2024', '03/30/2024', '06/30/2024', '12/30/2023', '05/30/2024', '07/30/2024', '09/30/2023', '11/30/2023', '10/30/2023', '08/30/2024']
After Processing --------Converted Billing Dates String: 
['4/30/24', '1/30/24', '2/29/24', '3/30/24', '6/30/24', '12/30/23', '5/30/24', '7/30/24', '9/30/23', '11/30/23', '10/30/23', '8/30/24']
After osrting ----Converted Billing Dates: 
[datetime.datetime(2023, 9, 30, 0, 0), datetime.datetime(2023, 10, 30, 0, 0), datetime.datetime(2023, 11, 30, 0, 0), datetime.datetime(2023, 12, 30, 0, 0), datetime.datetime(2024, 1, 30, 0, 0), datetime.datetime(2024, 2, 29, 0, 0), datetime.datetime(2024, 3, 30, 0, 0), datetime.datetime(2024, 4, 30, 0, 0), datetime.datetime(2024, 5, 30, 0, 0), datetime.datetime(2024, 6, 30, 0, 0), datetime.datetime(2024, 7, 30, 0, 0), datetime.datetime(2024, 8, 30, 0, 0)]